@{
    Layout.Title = Model.Title;
}

<div class="zone-divider-image">
    <div class="widget widget-divider-image">
        <h1>@Model.Title</h1>
        <img src="Themes/BlankNoggin/Content/dozer.jpg" />     
    </div>
</div>


