@using Amba.ImagePowerTools.Fields
@using Amba.ImagePowerTools.HtmlHelpers
@using System.Linq
@using Amba.ImagePowerTools.Settings
@{
    var field = (ImageMultiPickerField)Model.Field;
    var settings = (ImageMultiPickerFieldSettings)Model.Settings;
    Style.Require("Waffles");
    Style.Require("Galleria.Simian");
    
    Script.Require("jQuery");
    Script.Require("Galleria");
    Script.Require("Galleria.Simian");

    Style.Require("GalleriaImageGallery");
    Script.Require("GalleriaImageGallery");
}
@if (field.Images.Any())
{
    <div class="waffles galleria-imagegallery">
        <div class="galleria-imagegallery-slidingframe">
            @foreach (var image in field.Images)
            {   
                <div class="galleria-imagegallery-image-frame">
                    @{
                        var title = image["title"];
                        var description = image["description"];
                        var imageUrl = "~/"+image.FilePath;
                    }
                    <a href= @Href(imageUrl)>
                        @Html.ResizedImage(image.FilePath, htmlAttributes: new { alt = "", @class = "galleria-imagegallery-image-image", data_title = @title, data_description = @description })
                    </a>
                </div>
            }
        </div>
    </div>
}