
.googlemap
{
    background-color: #ddd;
    height: 400px;
    -webkit-box-shadow: inset 3px 3px 13px 3px rgba(0, 0, 0, 0.5) !important;
    box-shadow: inset 3px 3px 13px 3px rgba(0, 0, 0, 0.5) !important;
}

.googlemap-view
{
    height: 250px;
}

.address-view-street
{
    font-size: 24px;
}

.address-view-state
{
    font-size: 18px;
}

.address-view-zip
{
    font-size: 16px;
}
