.site-title-icon {


    -webkit-transition: all 2000ms ease-in-out;
    -moz-transition: all 2000ms ease-in-out;
    -ms-transition: all 2000ms ease-in-out;
    -o-transition: all 2000ms ease-in-out;
    transition: all 2000ms ease-in-out;
    
}